@font-face {
    font-family: 'VT323';
    src: url('../resources/fonts/VT323-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

canvas {
    border: 8px solid white;
}

h1 {
    font-size: 8rem;
}

h1 > span:nth-child(1) {
    color: hsl(0 50% 50%);
}
h1 > span:nth-child(2) {
    color: hsl(10 50% 50%);
}
h1 > span:nth-child(3) {
    color: hsl(20 50% 50%);
}
h1 > span:nth-child(4) {
    color: hsl(30 50% 50%);
}
h1 > span:nth-child(5) {
    color: hsl(40 50% 50%);
}
h1 > span:nth-child(6) {
    color: hsl(50 50% 50%);
}
